body{
    margin: 0px;
    font-family:sans-serif
}
.container{
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.top-container {
    width: 98%;
    padding: 0px 10px;
}
.navbar-center {
    display: flex;
    justify-content: center;
    font-size: 1.5 rem;    
}
.down-arrow{
    margin-left: 2px;
}

.navigation {      
    padding: .5rem;
    text-transform: uppercase;
}
.navbar-right .fa {
    width: 32px;
    height: 32px;
    padding: 1rem 0rem 1rem 2rem;
}
.strawberry-big {
    width: -webkit-fill-available;
}
.panel1 {
    width: auto;
    display: flex;
    justify-content: space-start;
}
.large-left-square-1{
    width:49%;
}
.right-rectangle-1{
    width:51%;
    height: 50%;
}
.rectangle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    height: 50%;
}
.right-rectangle-2{
    justify-content: space-evenly;
    width:50%;
    height: 50% ;
}
.small-ice{
    width: 17rem;
    height: 14.5rem;
    padding: 0.5rem;
}
.small-ice-row-1-col-1{
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd; 
    border-radius: 3px;
    width: 47%;
}
.small-ice-row-1-col-2{
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd; 
    border-radius: 3px;
    width: 47%;
}
.txt {
    text-align: center;
    background-color: #f5f5fb;
    padding-bottom: .7rem;
}
.price{
    color: #fc5f87;
}
.old-price{
    text-decoration: line-through;
    opacity: .5;
}
.poster{
    background: url("/images/poster.jpeg");
    background: url(/images/poster.jpeg);
    background-size: 100% 100%;
}
.content{
    padding: 11rem 16rem 14rem;
}
.content .title {
    font-size: 3rem;
    padding: 0rem 6rem;
    margin-top: 25px;
    text-align: center;
}
.subtitle {
    padding-left: 3rem;
    text-align: center;
    font-size: 13px;
    width: 42rem;
    color: #8b8798;
}
.bottom-top-container {
    background-color: #fd5f87;
    opacity: .9;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 5rem;
}    
  .product {
    width:150px;
 }
 .bottom-end-container {
    background-color: #28272d;
    color: #8b8798;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;

}
.support{
    display: flex;
    justify-content: space-around;    
}
.options{
    margin-right: .5rem;
}
.bottom-container{
    margin-top: 30px;
}
.bottom-middle-container{
    background-color: #2c2a33;

}
.details{
    padding: 50px 100px;
}
.contact-details{
    display: flex;
    justify-content: space-between;
    color: #8b8798;
   
}
.company-name{
    text-transform: uppercase;
    color: #fd5f87;
}
.nav-icon{
    border-radius: 50%;
    background-color: #fff;
    color: #fd5f87;
}
.nav{
    padding: 10px 0px;
}
.info{
    margin-left: 10px;
}
.description{
    width: 312px;
}
.time{
    margin-top: 5px;
}
.map {
    width: 262px;
    height: 194px;
}
.bottom-line{
    height: 3px;
    display: flex;
}
.line{
    margin: 0px;
    width: 30px;
    height: 1px;
    border-radius: 50px;
    border: 1px solid #fd5f87;
    background-color: #fd5f87;
}
.dot{
    height: 1px;
    width: 1px;
    margin: 0px;
    margin-left: 5px;
    border-radius: 50%;
    border: 1px solid #fd5f87;
    background-color: #fd5f87;
}
.direction {
    margin-top: 20px;
}
.hot{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #fd5f87;
    width: 48px;
    padding: 10px;
    border-radius: 30px;
    position: absolute;
    margin-left: 225px;
    margin-top: 5px;
}
.sale-only{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #e0b86e;
    width: 48px;
    padding: 10px;
    border-radius: 30px;
    position: absolute;
    margin-left: 225px;
    margin-top: 5px;
}
.sale{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color:   #e0b86e;
    width: 48px;
    padding: 10px;
    border-radius: 30px;
    position: absolute;
    margin-left: 225px;
    margin-top: 51px;
}
h2 {
    color: #fff;
}
h3 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 15px;
}
#large-left{
    width: 36rem;
    padding: 6rem 0rem;
}
#bottom-icon{
    background: #434148;
    text-align: center;
    width: 37px;
    height: 35px;
    border-radius: 50%;
    margin-top: 10px;
}
#about{
    background-color: #fd5f87;
    width:168px;
    padding:15px;
    border-radius: 5px;
    color: #fff;
    margin-left: 300px;
    text-transform: uppercase;    
}